.App {
	color: white;
	background: #222222;
	height: 100vh;
}
.App *{
	/* This might be bad practice? */
	margin: 0;
	padding: 0;
}

/* assume phone style */
.topbar {
	display: grid;
	grid-template-columns: 100%;
}
.topbar h1, .navbar{
	border-bottom: 2px solid white;
	padding: 10px;
}
.navbar {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	align-items: center;
	justify-items: center;
}
@media screen and (min-width: 700px) {
	.topbar {
		grid-template-columns: 50% 50%;

		border-bottom: 2px solid white;
	}
	.topbar h1, .navbar {
		border: none;
	}
}
