.App {
	color: white;
	background: #222222;
	min-height: 100vh;
}
/* 
This forces scroll bar to always exist. 
Helps prevent change in site width when clicking "Blog". 
*/
html {
	overflow-y: scroll;
}

/* base stylings*/
.my-name:hover {
	cursor: default;
}
.navbar {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	align-items: center;
	justify-items: center;
}
.nav:hover {
	cursor: pointer;
}
.nav {
	padding: 2px;
	margin: 5px;
	text-decoration: none;
	color: white;
}
.nav.selected {
	margin-bottom: 3px;
	border-bottom: 2px solid white;
}
.contentwrapper {
	margin: 0px;
	padding: 20px;
}
.contentborder {
	margin: 0px;
	padding: 0px 20px;
	border: 2px solid grey;
}
.bloglist{
	padding: 0px;
	margin: 0px;
	padding-bottom: 0px;
	list-style: none;
}
.bloglisting {
	box-sizing: border-box;
	padding: 5px;
	margin-bottom: 30px;
}
.bloglisting:hover {
	border-bottom: 2px solid white;
	margin-bottom: 28px;
	cursor: pointer;
}
.blogback:hover {
	cursor: pointer;
}
.blogpost {
	margin: 0px;
	padding: 0px;
}
.blogpost * {
	/* The automatic margin settings were making life harder, so we're resetting margins for blogposts. */
	margin: 0px;
}
.blogback {
	margin-bottom: 10px;
	padding: 5px 0px;
}
.blogback:hover {
	border-bottom: 2px solid white;
	margin-bottom: 8px;
}
/* assume phone style */
.topbar {
	display: grid;
	grid-template-columns: 100%;
	margin-bottom: 10px;
}
.topbar h1, .navbar{
	border-bottom: 2px solid white;
	padding: 10px;
}
@media screen and (min-width: 700px) {
	.topbar {
		grid-template-columns: 50% 50%;
		border-bottom: 2px solid white;
	}
	.topbar h1, .navbar {
		border: none;
	}
}
