.App {
	color: white;
	background: #222222;
	height: 100vh;
}
.App *{
	/* This might be bad practice? */
	margin: 0;
	padding: 0;
}

/* base stylings*/
.navbar {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	align-items: center;
	justify-items: center;
}
.nav:hover {
	cursor: pointer;
}
.my-name:hover {
	cursor: default;
}
.nav.selected {
	border-bottom: 2px solid white;
}

/* assume phone style */
.topbar {
	display: grid;
	grid-template-columns: 100%;
	margin-bottom: 10px;
}
.topbar h1, .navbar{
	border-bottom: 2px solid white;
	padding: 10px;
}
@media screen and (min-width: 700px) {
	.topbar {
		grid-template-columns: 50% 50%;

		border-bottom: 2px solid white;
	}
	.topbar h1, .navbar {
		border: none;
	}
}
